.language{
  text-align: center;
  border-bottom-left-radius: 25px;
  background-color:  #e6e6e6;
  width: 350px;
  margin-left: auto;
  margin-right: 0;
  font-size: 25px;
  margin-top: 0;

}

.language a{
  text-decoration: none;
  color: #757575;

}

h1 {
  text-align: center;
  font-size: 80px;
}

header {
  background-color: #e6e6e6;
  width: 85%;
  margin: 1em auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

nav ul {
  list-style-type: none;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  }
  li{
    justify-content: space-around;
  }

  li a {
    justify-content: space-around;
    text-decoration: none;
    color: #757575;
    font-size: 30px;

  }

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background-image: url(/img/2018-02-11.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tophead {
  display: flex;
  width: 85%;
  margin: auto;
  margin-bottom: 1em;
  background-color:  #e6e6e6;
  border-radius: 25px;
  padding-left: 20px;
  font-size: 150%;
}

.mid{
  display: flex;
  width: 85%;
  align-items: center;
  margin: auto;
  height: auto;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  border-radius: 25px
}
.Info {

  width: 50%;
  font-size: 150%;
  padding-left: 2em;

}

.img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.rightimage {

  width: 50%;
  padding: 1em;

}

p span{
  background-color: #e6e6e6;
}

li span{
  background-color: #e6e6e6;
}

.contactbox{
  display: flex;
  width: 85%;
  height: auto;
  align-items: center;
 margin: auto;
}

.contact{
  border-radius: 25px;
  background-color: #e6e6e6;
  font-size: 140%;
  width: 50%;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.singleblokbox{
  display: flex;
  width: 85%;
  align-items: flex-end, flex-start;
  margin: auto;
/*  justify-content: space-around;*/
  padding-bottom: 20px;
}

.singleblokleft{
  border-radius: 25px;
  background-color: #e6e6e6;
  font-size: 140%;
  width: 49%;
  padding-top: 5px;
  padding-left: 20px;
  margin-right: 1%;
}
.singleblokright{
  border-radius: 25px;
  background-color: #e6e6e6;
  font-size: 140%;
  width: 49%;
  padding-top: 5px;
  padding-left: 20px;
  margin-left: 1%;
}

th, td {
  vertical-align: top;
}
.ontwikkelingbox{
  display: flex;
  width: 85%;
  height: auto;
  align-items: center;
  margin: auto;
  background-color: #e6e6e6;
  border-radius: 25px;
}

.ontwikkeling{

  width: 50%;
  font-size: 140%;
  padding-left: 20px
}

footer {
  background-color: #e6e6e6;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.discfoto{
  height: 450px;
  width: 750px;
}

* {box-sizing:border-box}

.slideshow-container {
  background-color: black;
  height: 400px;
  min-width:  750px;
  position: relative;
  margin: 0 auto;
}
th {
  text-align: left;
}


.mySlides .mySlides2 {
    display: none;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
